{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
           

            <hr class="my-6">

            <p class="font-semibold">Cart</p>

            <ul>
                {% for category in categories %}
                {% if request.user == category.user %}
                        <h1>{{ category }}</h1>
                
                {% endif %}
                {% endfor %}
            </ul>

           
{% endblock %}